.Order {
	width: 80%;
	border: 1px solid #eee;
	box-shadow: 0 2px 3px #ccc;
	padding: 10px;
	margin: 15px auto;
	box-sizing: border-box;
	text-align: center;
	line-height: 1rem;
}

.Order hr {
	height: 0.5px;
	background-color: grey;
	opacity: 0.4;
}

.ingredients {
	text-transform: capitalize;
	display: inline-block;
	margin: 0 8px;
	border: 1px solid #ccc;
	padding: 5px;
}
